{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        // ["@babel/plugin-transform-runtime"],
        "@babel/plugin-syntax-optional-chaining",
        [
            "module-resolver",
            {
                "alias": {
                    "@server": "./src/server"
                }
            }
        ]
    ]
}