{
  "env": {
    "node": true,
    "browser": true,
    "mocha": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "react/jsx-indent": [
      2,
      4
    ],
    "react/jsx-indent-props": [
      2,
      4
    ],
    "indent": [
      "error",
      4
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-console": [
      "off"
    ],
    "no-case-declarations": [
      "off"
    ],
    "react/display-name": [
      0,
      {
        "ignoreTranspilerName": true
      }
    ],
    "react/no-unescaped-entities": [
      0
    ],
    "react/jsx-no-duplicate-props": [
      0
    ],
    "react/no-deprecated": [
      0
    ]
  },
  "globals": {
    "$": true,
    "c3": true,
    "ovpWidget": true
  },
  "plugins": [
    "react"
  ]
}