name: document

on:
  workflow_dispatch:
  push:
    branches:
      - test

jobs:
  dependency-review:
    name: Dependency review
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
        root-build: [server]
    defaults:
      run:
        working-directory: './${{ matrix.root-build }}'
    steps:
      - name: "Checkout"
        uses: actions/checkout@v3
      - name: "Use Nodejs ${{ matrix.node-version }}"
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
          cache-dependency-path: './${{ matrix.root-build }}/package-lock.json'
